<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="CodeFirst_DBTest2ConnectionString" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString2" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString3" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString4" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString5" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString6" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString7" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString8" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString9" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CodeFirst_DBTest2ConnectionString10" connectionString="Data Source=ENDLESSREWARDS\SQLSERVER2014EXP;Initial Catalog=CodeFirst_DBTest2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
